# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
sumoRank.format.test.js
jest.config.js

# testing
/coverage
jest.config.js

# production
/build

# misc
.DS_Store
.env
.vscode
.npmignore